h1 {
    font-size: 40px;
    font-weight: 5000;
    text-align: center;
    padding: 10px 0 10px 0;
    letter-spacing: 3px;
}

h2 {
    font-size: 27px;
    text-align: center;
    padding: 5px;
    letter-spacing: 1px;
}

h3 {
    font-size: 27px;
    font-style: italic;
    padding: 5px;
    letter-spacing: 1px;
}

h4 {
    font-size: 20px;
    letter-spacing: 0.5px;
    padding-bottom: 15px;
}

img {
    display: block;
    width: 35%;
    height: auto;
    border: 2px;
    margin: 0 auto;
    padding: 50px;
}