/* styles for opener page that user sees first */

h1 {
    font-size: 40px;
    font-weight: 5000;
    text-align: center;
    padding: 10px 0 10px 0;
    letter-spacing: 3px;
}

h2 {
    font-size: 27px;
    text-align: center;
    padding: 5px;
    letter-spacing: 1px;
}

h3 {
    font-family: "Open Sans";
    font-size: 20px;
    text-align: center;
    padding: 5px;
    letter-spacing: 1px;
}

h4 {
    padding: 20px;
    text-align: center;
}

img {
    display: block;
    width: 35%;
    height: auto;
    border: 2px;
    margin: 0 auto;
    padding: 50px;
}

button {
    display: inline-block;  
    background-color: #9EA9ED;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 1400;
    height: auto;
    line-height: 20px;
    margin: auto;
    overflow: visible;
    padding: 20px;
    text-align: center;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
    width: auto;
}

button:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
}

button:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
}

@media (min-width: 768px) {
    button {
    padding: 12px 50px;
    }
}

input {
    border: 1.5px solid #9EA9ED;
    border-radius: 4px;
}